  <%= form_with model: @chart, :remote => true do  |f| %>
  <div class="row">
    <div class="col">

   

  <div class="row">


    <div class="col-6">
      <div class="card">
        <h5 class="card-header">Chart</h5>
        <div class="card-body">
           <div class="row">
              <div class="col">
                  <label>Chart Name</label>
                  <div>
                    <%= f.text_field :name, class: 'form-control' %>
                  </div>
              </div>
              <div class="col">
                <label>Show link to chart in product page</label>
                <div class="custom-control custom-switch">
                    <%= f.check_box :is_show_product_page, class: 'custom-control-input', :id => 'customSwitch1' %>
                    <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                </div>
              </div>
           </div>
        </div>
      </div>

    </div>

 

  </div>
  </div>


    <div class="row float-right">
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-primary ajax' %>
        <%= link_to 'Back', charts_path, class:'btn btn-primary' %>
      </div>
    </div>



  <% end %>