  <script>
  $(function() {

    $("#forms-container").on("ajax:send", function(){
             $('#spinner').show();
        }
    );

    $("#forms-container").on("ajax:complete", function(){
             $('#spinner').hide();
        }
     );

    }); 
 </script>

  <%= form_with model: @chart, :id=> 'frm' ,:remote => true do  |f| %>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <h5 class="card-header">Chart</h5>
        <div class="card-body">
           <div class="row">
              <div class="col">
                  <label>Chart Name</label>
                  <div>
                    <%= f.text_field :name, class: 'form-control' %>
                  </div>
              </div>
              <div class="col">
                <label>Show link to chart in product page</label>
                <div class="custom-control custom-switch">
                    <%= f.check_box :is_show_product_page, class: 'custom-control-input', :id => 'customSwitch1' %>
                    <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                </div>
              </div>
           </div>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">Chart</h5>
        <div class="card-body">
          <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Row</th>
                <th scope="col"><%= f.text_field :col_1_caption,  class: 'header-cell form-control'  || 'Col1' %></th>
                <th scope="col"><%= f.text_field :col_2_caption,  class: 'header-cell form-control'  || 'Col2' %></th>
                <th scope="col"><%= f.text_field :col_3_caption,  class: 'header-cell form-control'  || 'Col3' %></th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody class="chart_details">
                <%= f.fields_for :chart_details do |builder| %>
                    <%= render 'chart_detail_fields', :f => builder %>
                <% end %>
            </tbody>

         </table>
          </div>
          <div class="card-footer links">
                <%= link_to_add_association 'Add Record', f, :chart_details, class: 'btn btn-primary', data: {association_insertion_node: '.chart_details', association_insertion_method: :append} %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="card product-list">
        <div class="card-header">
              <h5>Products</h5>
              <h6 class="header-links">
                  <%= link_to image_tag("icon_all.png", border: 0),list_products_path(filter: "all",id:  @chart.id || '0'),class: "list_all_products", remote: true %> 
                  <%= link_to image_tag("icon_selected.png", border: 0),list_products_path(filter: "selected", id: @chart.id || '0'),remote: true %> 
              </h6>
          </div>

        <div class="card-body product-list-panel">
            <%= render 'list_products'%>
        </div>
    </div>
  </div>
  </div>


    <div class="row float-right btns-row">
      <div class="form-group">



        <%= f.submit "Save",remote: true, class: 'btn btn-primary ajax' %>
        <%= link_to 'Back', charts_path, class:'btn btn-primary' %>
        
      </div>
    </div>



  <% end %>

  