<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <% application_name = ShopifyApp.configuration.application_name %>
    <title><%= application_name %></title>
    <%= stylesheet_link_tag 'application' %>
    <% if ShopifyApp.use_webpacker? %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <% end %>
    <%= csrf_meta_tags %>


     <script>

    $(window).load(function() {
    //   // $('#spinner').hide();
    //    $("#forms-container").bind("ajax:before", function(){
    //       alert('Before');
    //    }).bind("ajax:success", function(){
    //       $('#spinner').hide();
    //    }).bind("ajax:error", function(){
    //       alert('Error');
    //    }).bind("ajax:complete", function(){
    //       //alert('Completed..');
    //       $('#spinner').hide();
    // })
    });



     </script>
  </head>

  <body>
    <div class="app-wrapper">
      <div class="app-content">
        <main role="main">
          <%= render 'layouts/header' %>
          <div id='app-notifications'>
              <% flash.each do |key, value| %>
                  <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>
          </div>
          <div id='forms-container'>
          
          <%= yield %>
                  <div id="spinner" style='display:none'>
                    <div class="spinner-border spinner-circle" role="status">
                    </div>
                  </div>
          </div>
          <%= render 'layouts/footer' %>
        </main>
      </div>
    </div>

    <%= render 'layouts/flash_messages' %>

    <script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

    <%= content_tag(:div, nil, id: 'shopify-app-init', data: {
      api_key: ShopifyApp.configuration.api_key,
      shop_origin: ("https://#{ @shop_session.url }" if @shop_session),
      debug: Rails.env.development?
    } ) %>
    
    <% if content_for?(:javascript) %>
      <div id="ContentForJavascript" data-turbolinks-temporary>
        <%= yield :javascript %>
      </div>
    <% end %>
  </body>
</html>
